
#root {
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.pnl-card {
  background: #1e1e2f;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  position: fixed;
  top:50%;
  left:50%
}

.pnl-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.pnl-body p {
  margin: 8px 0;
  font-size: 1.1em;
}

.pnl-profit {
  color: #3fd17b;
  font-weight: bold;
}

.pnl-loss {
  color: #ff4c4c;
  font-weight: bold;
}
